@{
    ViewData["Title"] = "Home Page";
}
<div class="d-flex text-center text-light" style="background-color: #0021ac">
    <div class="cover-container d-flex p-3 mx-auto flex-column pt-5">
        <main class="mt-5">
            <br><br><br><br>
            <div class="mt-5 pt-5 display-1 fw-bold"><b>Sizzle, Grill, Enjoy</b></div>
            <p class="lead mt-3">Grill the Moment, Savor the Flavor: SeoulSizzle Samgyupsal – Where Tradition Meets Sizzle!<br>Elevate Your Dining Experience with Every Grilled Delight.</p>
            <p class="lead mt-5 pt-5 mb-5">
                <a href="#Package" class="btn btn-lg btn-light fw-bold border-white btn-primary">Learn More</a>
            </p>
        </main>
    </div>
</div>

<!--CARDS - PACKAGES-->
<!--ROW 1-->
<div class="container">
    <h1 id="Package" class="text-center fw-bolder mb-4 mt-5">Packages</h1>
    <div class="row">
        <!--Package 1-->
        <div class="col-md-3">
            <div class="card mt-5 text-center" style="width: 18rem;">
                <img src="https://shop.soban.ph/cdn/shop/products/GRAB750x750px_FFSET4_9123_900x.png?v=1662964363" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Favorite Feast BBQ Set</h5>
                    <h6 class="card-subtitle mt-2">Good for 4 persons</h6>
                    <p class="card-text fw-bold">₱3,530.00</p>
                    <a class="btn btn-dark" asp-area="" asp-controller="Home" asp-action="BookForm">Book Now</a>
                </div>
            </div>
        </div>

        <!--Package 2-->
        <div class="col-md-3">
            <div class="card mt-5 text-center" style="width: 18rem;">
                <img src="https://shop.soban.ph/cdn/shop/products/WEB_650x650px_MEGAMEATSET2EDITED_70121e0e-60c0-4c06-8f25-cbd1be25444e_900x.png?v=1616672672" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Mega Meat BBQ Set</h5>
                    <h6 class="card-subtitle mt-2">Good for 4 persons</h6>
                    <p class="card-text fw-bold">₱2,900.00</p>
                    <a class="btn btn-dark" asp-area="" asp-controller="Home" asp-action="BookForm">Book Now</a>
                </div>
            </div>
        </div>

        <!--Package 3-->
        <div class="col-md-3">
            <div class="card mt-5 text-center" style="width: 18rem;">
                <img src="https://shop.soban.ph/cdn/shop/products/GRAB_750x750px_ALLBEEF_SETFOR4_1_900x.jpg?v=1635511524" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Beef Mega Meat BBQ Set</h5>
                    <h6 class="card-subtitle mt-2">Good for 4 persons</h6>
                    <p class="card-text fw-bold">₱3,250.00</p>
                    <a class="btn btn-dark" asp-area="" asp-controller="Home" asp-action="BookForm">Book Now</a>
                </div>
            </div>
        </div>

        <!--Package 4-->
        <div class="col-md-3">
            <div class="card mt-5 text-center" style="width: 18rem;">
                <img src="https://shop.soban.ph/cdn/shop/products/GRAB_750x750px_6FLAVORSAMGYUPSAL_900x.png?v=1655968473" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Pork Mega Meat Set</h5>
                    <h6 class="card-subtitle mt-2">Good for 2 persons</h6>
                    <p class="card-text fw-bold">₱1,480.00</p>
                    <a class="btn btn-dark" asp-area="" asp-controller="Home" asp-action="BookForm">Book Now</a>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- ROW 2-->
<div class="container">
    <div class="row">
        <!--Package 5-->
        <div class="col-md-3">
            <div class="card mt-5 text-center" style="width: 18rem;">
                <img src="https://shop.sariwon.ph/cdn/shop/products/SARIWON-Sig-Set-4-Grab-1_1080x.png?v=1618469399" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Signature Grill Set</h5>
                    <h6 class="card-subtitle mt-2">Good for 4 persons</h6>
                    <p class="card-text fw-bold">₱6,335.00</p>
                    <a class="btn btn-dark" asp-area="" asp-controller="Home" asp-action="BookForm">Book Now</a>
                </div>
            </div>
        </div>

        <!--Package 6-->
        <div class="col-md-3">
            <div class="card mt-5 text-center" style="width: 18rem;">
                <img src="https://shop.sariwon.ph/cdn/shop/products/GRAB_750x750px_GALBIJIMSETFOR4_1080x.jpg?v=1678930598" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Galbi Jjim Grill Set</h5>
                    <h6 class="card-subtitle mt-2">Good for 4 persons</h6>
                    <p class="card-text fw-bold">₱5,920.00</p>
                    <a class="btn btn-dark" asp-area="" asp-controller="Home" asp-action="BookForm">Book Now</a>
                </div>
            </div>
        </div>

        <!--Package 7-->
        <div class="col-md-3">
            <div class="card mt-5 text-center" style="width: 18rem;">
                <img src="https://shop.sariwon.ph/cdn/shop/products/GRAB_750x750px_PREMIUMSETFOR2_900x.jpg?v=1678930666" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Premium Grill Set</h5>
                    <h6 class="card-subtitle mt-2">Good for 2 persons</h6>
                    <p class="card-text fw-bold">₱2,410.00</p>
                    <a class="btn btn-dark" asp-area="" asp-controller="Home" asp-action="BookForm">Book Now</a>
                </div>
            </div>
        </div>

        <!--Package 8-->
        <div class="col-md-3">
            <div class="card mt-5 text-center" style="width: 18rem;">
                <img src="https://shop.sariwon.ph/cdn/shop/products/sariwon-special-grill-set-for-4_1024x1024@2x.jpg?v=1591612454" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Special Grill Set</h5>
                    <h6 class="card-subtitle mt-2">Good for 2 persons</h6>
                    <p class="card-text fw-bold">₱3,345.00</p>
                    <a class="btn btn-dark" asp-area="" asp-controller="Home" asp-action="BookForm">Book Now</a>
                </div>
            </div>
        </div>
    </div>
</div>

<br><br /><hr>

<!--Descriptions-->
<h1 class="text-center fw-bolder my-5">Package Inclusions</h1>

<div class="container">
    <!--FIRST ROW-->
    <div class="row mb-4">
        <div class="col-sm-6">
            <div class="card mb-3" style="max-width: 600px;">
                <div class="row g-0">
                    <div class="col-md-5">
                        <img src="https://shop.soban.ph/cdn/shop/products/GRAB750x750px_FFSET4_9123_900x.png?v=1662964363" class="img-fluid rounded-start" style="height: 100%;">
                    </div>
                    <div class="col-md-7">
                        <div class="card-body">
                            <h5 class="card-title fw-bold">Favorite Feast BBQ Set</h5>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">240g Beef Woo</li>
                                <li class="list-group-item">240g Marinated Beef</li>
                                <li class="list-group-item">240g Fresh Pork</li>
                                <li class="list-group-item">Whole Pajeon and Gyeranjjim</li>
                                <li class="list-group-item">1L Coke, 4 Rice, 6 Side Dishes</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="card mb-3" style="max-width: 600px;">
                <div class="row g-0">
                    <div class="col-md-5">
                        <img src="https://shop.soban.ph/cdn/shop/products/WEB_650x650px_MEGAMEATSET2EDITED_70121e0e-60c0-4c06-8f25-cbd1be25444e_900x.png?v=1616672672" class="img-fluid rounded-start" style="height: 100%;">
                    </div>
                    <div class="col-md-7">
                        <div class="card-body">
                            <h5 class="card-title fw-bold">Mega Meat BBQ Set</h5>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">240g Fresh Woo</li>
                                <li class="list-group-item">240g Soy Garlic Samgyup</li>
                                <li class="list-group-item">240g Black Pepper Samgyup</li>
                                <li class="list-group-item">180g Dak Galbi Spicy Chicken</li>
                                <li class="list-group-item">Lettuce, 4 Rice, 6 Side Dishes</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--SECOND ROW-->
    <div class="row mb-4">
        <div class="col-sm-6">
            <div class="card mb-3" style="max-width: 600px;">
                <div class="row g-0">
                    <div class="col-md-5">
                        <img src="https://shop.soban.ph/cdn/shop/products/GRAB_750x750px_ALLBEEF_SETFOR4_1_900x.jpg?v=1635511524" class="img-fluid rounded-start" style="height: 100%;">
                    </div>
                    <div class="col-md-7">
                        <div class="card-body">
                            <h5 class="card-title fw-bold">Beef Mega Meat BBQ Set</h5>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">240g Fresh Beef</li>
                                <li class="list-group-item">240g Marinated Beef</li>
                                <li class="list-group-item">240g Beef Upjinsal</li>
                                <li class="list-group-item">240g Dak Ganjeong</li>
                                <li class="list-group-item">1L Iced Tea, 4 Rice, 6 Side Dishes</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="card mb-3" style="max-width: 600px;">
                <div class="row g-0">
                    <div class="col-md-5">
                        <img src="https://shop.soban.ph/cdn/shop/products/GRAB_750x750px_6FLAVORSAMGYUPSAL_900x.png?v=1655968473" class="img-fluid rounded-start" style="height: 100%;">
                    </div>
                    <div class="col-md-7">
                        <div class="card-body">
                            <h5 class="card-title fw-bold">Pork Mega Meat Set</h5>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">540g Pork Belly (6 Flavors)</li>
                                <li class="list-group-item">540g  Fresh Pork Belly</li>
                                <li class="list-group-item">1 Gyeranjjim</li>
                                <li class="list-group-item">2 Rice, Lettuce</li>
                                <li class="list-group-item">Sauces, 6 Side Dishes</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--THIRD ROW-->
    <div class="row mb-4">
        <div class="col-sm-6">
            <div class="card mb-3" style="max-width: 600px;">
                <div class="row g-0">
                    <div class="col-md-5">
                        <img src="https://shop.sariwon.ph/cdn/shop/products/SARIWON-Sig-Set-4-Grab-1_1080x.png?v=1618469399" class="img-fluid rounded-start" style="height: 100%;">
                    </div>
                    <div class="col-md-7">
                        <div class="card-body">
                            <h5 class="card-title fw-bold">Signature Grill Set</h5>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">360g Deung Shim RIbeye</li>
                                <li class="list-group-item">340g Yangnyeom Wagyu</li>
                                <li class="list-group-item">360g Yangnyeom Galbisal</li>
                                <li class="list-group-item">2 Dolsot Bibimbap</li>
                                <li class="list-group-item">Salad, Lettuce, 5 Side Dishes</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="card mb-3" style="max-width: 600px;">
                <div class="row g-0">
                    <div class="col-md-5">
                        <img src="https://shop.sariwon.ph/cdn/shop/products/GRAB_750x750px_GALBIJIMSETFOR4_1080x.jpg?v=1678930598" class="img-fluid rounded-start" style="height: 100%;">
                    </div>
                    <div class="col-md-7">
                        <div class="card-body">
                            <h5 class="card-title fw-bold">Galbi Jjim Grill Set</h5>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">180g Yangnyeom Galbisal</li>
                                <li class="list-group-item">200g Grilled Bulgogi</li>
                                <li class="list-group-item">2 Beef Galbi Jjim</li>
                                <li class="list-group-item">1 Japchae, 1 Gyeranjjim</li>
                                <li class="list-group-item">Salad, 4 Rice, 5 Side Dishes</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--FOURTH ROW-->
    <div class="row mb-4">
        <div class="col-sm-6">
            <div class="card mb-3" style="max-width: 600px;">
                <div class="row g-0">
                    <div class="col-md-5">
                        <img src="https://shop.sariwon.ph/cdn/shop/products/GRAB_750x750px_PREMIUMSETFOR2_900x.jpg?v=1678930666" class="img-fluid rounded-start" style="height: 100%;">
                    </div>
                    <div class="col-md-7">
                        <div class="card-body">
                            <h5 class="card-title fw-bold">Premium Grill Set</h5>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">340g Soondubu Chigae</li>
                                <li class="list-group-item">330g Yangnyeom Galbisal</li>
                                <li class="list-group-item">Mini Haemul Pajeon</li>
                                <li class="list-group-item">Kaeinyachae Salad</li>
                                <li class="list-group-item">Lettuce, 2 Rice, 5 Side Dishes</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="card mb-3" style="max-width: 600px;">
                <div class="row g-0">
                    <div class="col-md-5">
                        <img src="https://shop.sariwon.ph/cdn/shop/products/sariwon-special-grill-set-for-4_1024x1024@2x.jpg?v=1591612454" class="img-fluid rounded-start" style="height: 100%;">
                    </div>
                    <div class="col-md-7">
                        <div class="card-body">
                            <h5 class="card-title fw-bold">Special Grill Set</h5>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">180g Yangnyeom Galbisal</li>
                                <li class="list-group-item">250g Woo Samgyup</li>
                                <li class="list-group-item">200g Grilled Bulgogi</li>
                                <li class="list-group-item">1 Doenjang Chigae, 1 Pajeon</li>
                                <li class="list-group-item">Lettuce, 4 Rice, 5 Side Dishes</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--end of container for descriptions-->
</div>

    <!-- Modal -->
    <div class="modal fade" id="bookTable" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Find A Table</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    @*Date Picker*@
                    <label for="datepicker">Choose a Date:</label><br />
                    <input id="datepicker" width="276" />
                    <script>
                        $('#datepicker').datepicker({
                            uiLibrary: 'bootstrap5'
                        });
                    </script>

                    @*Time Picker*@
                    <label for="time">Choose a time:</label><br />
                    <select class="form-select" name="time" id="time">
                        <option value="9am">9:00 AM</option>
                        <option value="12pm">12:00 PM</option>
                        <option value="3pm">3:00 PM</option>
                        <option value="6pm">6:00 PM</option>
                        <option value="9pm">9:00 PM</option>
                    </select>

                    @*Number of Guest Picker*@
                    <label for="numGuest">Number of Guest</label><br />
                    <select class="form-select" name="numGuest" id="numGuest">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                    </select>

                </div>
                <div class="modal-footer">
                    <a class="btn btn-primary" asp-action="BookForm">Next</a>
                </div>
            </div>
        </div>
    </div>


</div>


</div>


<!--Card1-->

