@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="card w-75 mb-3">
      <div class="card-body">
            <h5 class="card-title">Package 1</h5>
            <p class="card-text">Flavored pork (250g), Flavored Beef (250g), ... /p>
            <a href="#" class="btn btn-primary">BOOK NOW</a>
      </div>
    </div>


    <div class="card w-75 mb-3">
      <div class="card-body">
  s     <div class="row">
                <div class="col-md-4">
                    <img src="" />
                </div
                <div class="col-md-4">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Button</a>
                </div>
                <div class="col-md-4">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Button</a>
                </div>
          </div>
        </div>

        <div class="card w-75 mb-3">
            <div class="card-body">
                <h5 class="card-title">Package 3</h5>
                <p class="card-text">Flavored pork (500g), Flavored beef (500g)</p>
                <a href="#" class="btn btn-primary">BOOK NOW</a>
            </div>
        </div>
</div>



