@{
    ViewData["Title"] = "Reserve View";
}

@*NAVBAR*@
<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 bg-light">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-dark min-vh-100">
                <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline">Admin Dashboard</span>
                </a>

                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li>
                        <a asp-action="ReserveView" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline">Reservations</span>
                        </a>
                    </li>

                    <li>
                        <a asp-action="CustomerView" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Customers</span>
                        </a>
                    </li>

                    <li>
                        <a asp-action="TableView" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-box"></i> <span class="ms-1 d-none d-sm-inline">Tables</span>
                        </a>
                    </li>

                    <li>
                        <a href="#" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Orders</span>
                        </a>
                    </li>

                    <li>
                        <a asp-action="PackageView" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-grid"></i> <span class="ms-1 d-none d-sm-inline">Package</span>
                        </a>
                    </li>
                </ul>
                <hr>

                <div class="dropdown pb-4">
                    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="https://github.com/mdo.png" alt="hugenerd" width="30" height="30" class="rounded-circle">
                        <span class="d-none d-sm-inline mx-1">loser</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                        <li><a class="dropdown-item" href="#">Settings</a></li>
                        <li><a class="dropdown-item" href="#">Profile</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Sign out</a></li>
                    </ul>
                </div>
            </div>
        </div>

        @*Content Area*@
        <div class="col py-3 ms-3">
            <h3>@ViewData["Title"]</h3>

            @*Table*@
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">ID</th>
                        <th scope="col">Table</th> @*kunin yung equivalent tableid ang ipapakita dito yung table name*@
                        <th scope="col">Customer</th> @*kunin yung equivalent customerid ang ipapakita dito yung customer name*@
                        <th scope="col">Package</th> @*kunin yung equivalent packageid ang ipapakita dito yung package name*@
                        <th scope="col">Reserve Date</th>
                        <th scope="col">Reserve Time</th>
                        <th scope="col">Phone</th>
                        <th scope="col" class="text-center">Number of Guest </th>
                        <th scope="col" class="text-center">Status</th>
                        <th scope="col" class="text-center">Actions</th>
                    </tr>
                </thead>

                
                <tbody>
                    @*Dito magfofor loop sa pagfetch ng database per row*@
                    <tr>
                        <th scope="row">1</th>
                        <td>1</td>
                        <td>Table 4</td>
                        <td><a>Kaiehla Espiritu</a></td> @*Connected sa customer view CustomerID para mapipindot details ni customer*@
                        <td>Package 1</td>
                        <td>11/11/2023</td>
                        <td>12:00 PM</td>
                        <td>09123456789</td>
                        <td class="text-center">4</td>
                        <td class="text-center"><span class="badge rounded-pill text-bg-success bg-success">Confirmed</span></td> @*bg-danger pag cancelled*@
                        <td class="text-center">
                            @*Edit*@
                            <a data-bs-toggle="modal" data-bs-target="#editReserve">
                                <i class="bi bi-pencil text-success"></i>
                            </a>

                            @*Delete*@
                            <a data-bs-toggle="modal" data-bs-target="#delReserve">
                                <i class="bi bi-trash text-danger"></i>
                            </a>
                        </td>
                    </tr>
                    
                    @*Example 2 for viewing*@
                    <tr>
                        <th scope="row">2</th>
                        <td>2</td>
                        <td>Table 8</td>
                        <td>Karylle Legaspino</td>
                        <td>Package 3</td>
                        <td>11/11/2023</td>
                        <td>3:00 PM</td>
                        <td>09123456789</td>
                        <td class="text-center">8</td>
                        <td class="text-center"><span class="badge rounded-pill text-bg-danger bg-danger">Cancelled</span></td> @*bg-danger pag cancelled*@
                        <td class="text-center">
                            @*Edit*@
                            <a data-bs-toggle="modal" data-bs-target="#editReserve">
                                <i class="bi bi-pencil text-success"></i>
                            </a>

                            @*Delete*@
                            <a data-bs-toggle="modal" data-bs-target="#delReserve">
                                <i class="bi bi-trash text-danger"></i>
                            </a>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>

    <!-- Edit Modal -->
    <div class="modal fade" id="editReserve" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Reservation</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="row">
                            <div class="col-6">
                                @*Table Option*@
                                <select class="form-select" aria-label="Default select example">
                                    <option selected value="1">Table 1</option>
                                    <option value="2">Table 2</option>
                                    <option value="3">Table 3</option>
                                </select>
                            </div>

                            <div class="col-6">
                                @*Package Option*@
                                <select class="form-select" aria-label="Default select example">
                                    <option selected value="1">Package 1</option>
                                    <option value="2">Package 2</option>
                                    <option value="3">Package 3</option>
                                </select>
                            </div>
                        </div>

                        <div class="row mt-2">
                            <div class="col-6">
                                <label for="firstName" class="form-label">First name</label>
                                <input type="text" class="form-control" id="firstName" value="Kaiehla" required="">
                            </div>

                            <div class="col-6">
                                <label for="lastName" class="form-label">Last name</label>
                                <input type="text" class="form-control" id="lastName" value="Espiritu" required="">
                            </div>

                            <div class="col-6 mt-2">
                                <label for="phone" class="form-label">Phone</label>
                                <input type="text" class="form-control" id="phone" value="09123456789" required="">
                            </div>
                        </div>

                        <div class="row mt-2">

                            <div class="col-6">
                                @*Date Picker*@
                                <label for="datepicker" class="form-label">Reserved Date</label>
                                <input id="datepicker" width="220" value="11/11/2023" />
                                <script>
                                    $('#datepicker').datepicker({
                                        uiLibrary: 'bootstrap5'
                                    });
                                </script>
                            </div>
                            <div class="col-6">
                                @*Time Picker*@
                                <label for="time" class="form-label">Reserved Time</label>
                                <select class="form-select" name="time" id="time">
                                    <option value="9am">9:00 AM</option>
                                    <option selected value="12pm">12:00 PM</option>
                                    <option value="3pm">3:00 PM</option>
                                    <option value="6pm">6:00 PM</option>
                                    <option value="9pm">9:00 PM</option>
                                </select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-6">
                                @*Number of Guest *@
                                <label for="numGuest" class="form-label">Number of Guest</label>
                                <select class="form-select" name="numGuest" id="numGuest">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option selected value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                </select>
                            </div>

                            <div class="col-6">
                                @*Status *@
                                <label for="status" class="form-label">Status</label>
                                <select class="form-select" name="status" id="status">
                                    <option value="1">Confirmed</option>
                                    <option value="2">Cancelled</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
                
                <div class="modal-footer">
                    <a class="btn btn-success-secondary" asp-action="ReserveView">Cancel</a>
                    <a class="btn btn-success" asp-action="ReserveView">Update</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Delete Modal -->
    <div class="modal fade" id="delReserve" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Reservation</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p class="lead">Are you sure you want to delete this reservation?</p>
                    <p>Reserve ID: 2 <br />Customer: Karylle Legaspino</p>
                </div>

                <div class="modal-footer">
                    <a class="btn btn-danger-secondary" asp-action="ReserveView">Cancel</a>
                    <a class="btn btn-danger" asp-action="ReserveView">Delete</a>
                </div>
            </div>
        </div>
    </div>

@*end of overall*@
</div>
