@model RestaurantTable

<div class="row mt-2">
    <input type="hidden" id="id" value="@Model.Id">

    <div class="col-6 mt-2">
        <label for="tableName" class="form-label">Table Name</label>
        <input type="text" class="form-control" id="tableName" value="@Model.TableName" disabled = "disabled">
    </div>

    <div class="col-6 mt-2">
        <label for="seatingCapacity" class="form-label">Seating Capacity</label>
        <input type="text" class="form-control" id="seatingCapacity" value="@Model.SeatingCapacity" disabled="disabled">
    </div>

    <div class="col-6 mt-2">
        <label for="availability" class="form-label">Availability</label>
        <input type="text" class="form-control" id="availability" value="@Model.Availability" disabled="disabled">
    </div>
</div>