html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.okada-purple {
    color: #a0377e;
}

.okada-gold {
    color: #875e2c
}

.okada-black {
    color: #212529
}

.okada-gray {
    color: #f2f2f2
}